<%= form_for(@audit) do |f| %>
  <% if @audit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@audit.errors.count, "error") %> prohibited this audit from being saved:</h2>

      <ul>
      <% @audit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :action %><br>
    <%= f.text_field :action %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :record_id %><br>
    <%= f.number_field :record_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
