<h1>Listing audits</h1>

<table>
	<thead>
		<tr>
			<th>User</th>
			<th>Action</th>
			<th>Record Type</th>
			<th>Record</th>
			<th>Date/Time</th>
		</tr>
	</thead>

	<tbody>
		<% @audits.each do |audit| %>
			<tr>
				<td><%= audit.user.fname %></td>
				<td><%= audit.action %></td>
				<td><%= audit.recordtype %></td>
				<td><%= audit.record_id %></td>
				<td><%= audit.created_at.to_time %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>