<table width="100%">
	<tr>
		<td>
			<div class="field">
				<%= f.label :name, "Name" %><br>
				<%= f.text_field :name, :required => true, :minlength => 2, :placeholder => 'Name' %>
			</div>
		</td>
		<td>
			<div class="field">
				<%= f.label :dobv, "DOB" %><br>
				<%= f.date_select :dob, {:prompt => { :day => 'Select Day', :month => 'Select Month', :year => 'Select Year' }}, {:class => 'date-select'}  %>
			</div>
		</td>
		<td>
			<div class="field">
				<%= f.label :ssn, "SSN" %><br>
				<%= f.text_field :ssn , :minlength => 9, :digits => true, :required => false, :placeholder => '9-Digit SSN' %>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="field">
				<%= f.label :oln, "OLN" %><br>
				<%= f.text_field :oln %>
			</div>
		</td>
		<td>
			<div class="field">
				<%= f.label :gender %><br>
				<%= f.text_field :gender , :required => true, :textonly => true , :placeholder => 'M, F, or Other'%>
			</div>
		</td>
		<td>
			<div class="field">
				<%= f.label :address %><br>
				<%= f.text_field :address %>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="field">
				<%= f.label :city %><br>
				<%= f.text_field :city, :textonly => true , :placeholder => 'City'%>
			</div>
		</td>
		<td>
			<div class="field">
				<%= f.label :state %><br>
				<%= f.text_field :state, :required => true, :textonly => true, :placeholder => 'State'%>
			</div>
		</td>
		<td>
			<div class="field">
				<%= f.label :zip %><br>
				<%= f.text_field :zip, :digits => true, :minlength => 5, :placeholder => 'Zip'%>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="field">
				<%= f.label :citizenship %><br>
				<%= f.text_field :citizenship %>
			</div>
		</td>
	</tr>
</table>