<%= form_for(@subject) do |f| %>
	<% if @subject.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

			<ul>
			<% @subject.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%= render partial: 'fields', locals: {f: f} %>

	<div class="field">
		<%= f.label :Passenger %><br>
		<%= f.check_box :passenger %>
	</div>

	<div class="field">
		<%= f.label :misc, "Notes" %><br>
		<%= f.text_area :misc, style: "width: 99%; height: 150px;" , :placeholder => 'Please place any defining characteristics or information here.'%>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
