<%= form_for(@subject) do |f| %>
	<% if @subject.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

			<ul>
			<% @subject.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<table width="100%">
		<tr>
			<td>
				<div class="field">
					<%= f.label :name %><br>
					<%= f.text_field :name %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :dob %><br>
					<%= f.date_select :dob %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :ssn, "SSN" %><br>
					<%= f.text_field :ssn %>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="field">
					<%= f.label :oln, "OLN" %><br>
					<%= f.text_field :oln %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :gender %><br>
					<%= f.text_field :gender %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :address %><br>
					<%= f.text_field :address %>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="field">
					<%= f.label :city %><br>
					<%= f.text_field :city %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :state %><br>
					<%= f.text_field :state %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :zip %><br>
					<%= f.text_field :zip %>
				</div>
			</td>
		</tr>
	</table>

	<div class="field">
		<%= f.label :passanger %><br>
		<%= f.check_box :passanger %>
	</div>

	<div class="field">
		<%= f.label :misc, "Notes" %><br>
		<%= f.text_area :misc, style: "width: 99%; height: 150px;" %>
	</div>

	<div class="field">
		<%= f.label :citizenship %><br>
		<%= f.text_field :citizenship %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
