<h1>Listing subjects</h1>

<table class="listtable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Dob</th>
			<th>Ssn</th>
			<th>State</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @subjects.each do |subject| %>
			<tr>
				<td><%= link_to subject.name, subject %></td>
				<td><%= subject.dob %></td>
				<td><%= subject.ssn %></td>
				<td><%= subject.state %></td>
				<td><%= link_to 'Edit', edit_subject_path(subject) %></td>
				<td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
