<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @subject.dob %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @subject.ssn %>
</p>

<p>
  <strong>Oln:</strong>
  <%= @subject.oln %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @subject.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @subject.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @subject.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @subject.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @subject.zip %>
</p>

<p>
  <strong>Passenger:</strong>
  <%= @subject.passenger %>
</p>

<p>
  <strong>Misc:</strong>
  <%= @subject.misc %>
</p>

<p>
  <strong>Citizenship:</strong>
  <%= @subject.citizenship %>
</p>

<p>
  <strong>Siezure report:</strong>
  <%= @subject.siezure_report_id %>
</p>

<% if !current_user.field? %>
  <%= link_to 'Update', edit_subject_path(@subject) %>
<% end %>