<%= form_for(@vehicle) do |f| %>
	<% if @vehicle.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

			<ul>
			<% @vehicle.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<table width="100%">
		<tr>
			<td>
				<div class="field">
					<%= f.label :make %><br>
					<%= f.text_field :make %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :model %><br>
					<%= f.text_field :model %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :year %><br>
					<%= f.text_field :year %>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="field">
					<%= f.label :plate %><br>
					<%= f.text_field :plate %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :state %><br>
					<%= f.text_field :state %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :color %><br>
					<%= f.text_field :color %>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="field">
					<%= f.label :owner %><br>
					<%= f.text_field :owner %>
				</div>
			</td>
		</tr>
	</table>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
