<%= form_for(@siezure_report) do |f| %>
	<% if @siezure_report.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@siezure_report.errors.count, "error") %> prohibited this seizure_report from being saved:</h2>

			<ul>
			<% @siezure_report.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<h3>General Information</h3>

	<table width="100%">
		<tr>
			<td>
				<div class="field">
					<%= f.label :taskforce, 'Taskforce' %><br>
					<%= f.text_field :taskforce %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :agency, 'Agency' %><br>
					<%= f.text_field :agency %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :casenum, 'Case Number' %><br>
					<%= f.text_field :casenum, :digits => true %>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="field">
					<%= f.label :cjis, 'CJIS' %><br>
					<%= f.text_field :cjis %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :initiative, 'Initiative' %><br>
					<%= f.text_field :initiative, :placeholder => 'Initiative' %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :siezuredate, 'Date of Seizure' %><br>
					<%= f.date_select :siezuredate, {:prompt => { :day => 'Select Day', :month => 'Select Month', :year => 'Select Year' }}, {:class => 'date-select'}  %>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="field">
					<%= f.label :siezuretime, 'Time of Seizure' %><br>
					<%= f.time_select :siezuretime, {:prompt => { :hour => 'Select Hour', :minute => 'Select Minute'}}, {:class => 'time-select'}  %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :siezuretype, 'Type of Seizure' %><br>
					<%= f.text_field :siezuretype , :placeholder => 'Seizure Type'%>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :hheop, 'DHE Operation' %><br>
					<%= f.check_box :hheop %>
				</div>
			</td>
		</tr>
	</table>



	<div class="divider"></div>
	<h3>Seizures</h3>
	<div class="add" id="drug-s">
		<%= image_tag 'add.png', width: '15px', height: '15px' %>
		<b>Add Drug Seizure</b>
	</div>
	<div class="add" id="weapon-s">
		<%= image_tag 'add.png', width: '15px', height: '15px' %> 
		<b>Add Weapon Seizure</b>
	</div>
	<div id="drug-fields"></div>
	<div id="weapon-fields"></div>



	<div class="divider"></div>
	<h3>Location</h3>
	<%= fields_for :location do |l| %>
		<table width="100%">
			<tr>
				<td>
					<div class="field">
						<%= l.label :road %><br>
						<%= l.text_field :road %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= l.label :mile_marker %><br>
						<%= l.text_field :mile_marker %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= l.label :direction %><br>
						<%= l.text_field :direction %>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="field">
						<%= l.label :address %><br>
						<%= l.text_field :address %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= l.label :city %><br>
						<%= l.text_field :city, :textonly => true %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= l.label :county %><br>
						<%= l.text_field :county %>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="field">
						<%= l.label :state %><br>
						<%= l.text_field :state %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= l.label :zip %><br>
						<%= l.text_field :zip %>
					</div>
				</td>
			</tr>
		</table>
	<% end %>



	<div class="divider"></div>
	<h3>Subjects</h3>
	<div class="add" id="sub">
		<%= image_tag 'add.png', width: '15px', height: '15px' %>
		<b>Add Subject</b>
	</div>
	<div id="subject-fields"></div>



	<div class="divider"></div>
	<h3>Vehicles</h3>
	<div class="add" id="veh">
		<%= image_tag 'add.png', width: '15px', height: '15px' %>
		<b>Add Vehicle</b>
	</div>
	<div id="vehicle-fields"></div>



	<div class="divider"></div>
	<h3>Narrative</h3>

	<div class="field">
		<%= f.text_area :narrative, style: "width: 99%; height: 150px;" %>
	</div>

	<div class="divider"></div>
	<h3>Additional Factors</h3>

	<table width="100%">
		<tr>
			<td>
				<div class="field">
					<%= f.label :analytical, 'Analytical Support Needed' %><br>
					<%= f.check_box :analytical %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :concealment_method, 'Concealment Method' %><br>
					<%= f.text_field :concealment_method %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :false_compartment, 'False Compartment' %><br>
					<%= f.check_box :false_compartment %>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="field">
					<%= f.label :compartment_location, 'Compartment Location' %><br>
					<%= f.text_field :compartment_location %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :cargo_state_type, 'Cargo State Type' %><br>
					<%= f.text_field :cargo_state_type %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :k9used, 'K-9 Used' %><br>
					<%= f.check_box :k9used %>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="field">
					<%= f.label :lab_stash_house, 'Lab/Stash House Used' %><br>
					<%= f.text_field :lab_stash_house %>
				</div>
			</td>
			<td></td>
			<td></td>
		</tr>
	</table>

	<div class="divider"></div>
	<h3>Point of Contact</h3>
	<table width="100%">
		<tr>
			<td>
				<div class="field">
					<%= f.label :poc %><br>
					<%= f.text_field :poc %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :pocphone %><br>
					<%= f.text_field :pocphone %>
				</div>
			</td>

		</tr>
	</table>


	<div class="actions">
		<%= f.submit "Create Seizure Report" %>
	</div>

	
<% end %>
