<p id="notice"><%= notice %></p>

<p>
  <strong>Taskforce:</strong>
  <%= @siezure_report.taskforce %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @siezure_report.agency %>
</p>

<p>
  <strong>Casenum:</strong>
  <%= @siezure_report.casenum %>
</p>

<p>
  <strong>Cjis:</strong>
  <%= @siezure_report.cjis %>
</p>

<p>
  <strong>Initiative:</strong>
  <%= @siezure_report.initiative %>
</p>

<p>
  <strong>Siezuredate:</strong>
  <%= @siezure_report.siezuredate %>
</p>

<p>
  <strong>Siezuretime:</strong>
  <%= @siezure_report.siezuretime %>
</p>

<p>
  <strong>Siezuretype:</strong>
  <%= @siezure_report.siezuretype %>
</p>

<p>
  <strong>Hheop:</strong>
  <%= @siezure_report.hheop %>
</p>

<p>
  <strong>Narrative:</strong>
  <%= @siezure_report.narrative %>
</p>

<p>
  <strong>Analytical:</strong>
  <%= @siezure_report.analytical %>
</p>

<p>
  <strong>Concealment method:</strong>
  <%= @siezure_report.concealment_method %>
</p>

<p>
  <strong>False compartment:</strong>
  <%= @siezure_report.false_compartment %>
</p>

<p>
  <strong>Compartment location:</strong>
  <%= @siezure_report.compartment_location %>
</p>

<p>
  <strong>Cargo state type:</strong>
  <%= @siezure_report.cargo_state_type %>
</p>

<p>
  <strong>K9used:</strong>
  <%= @siezure_report.k9used %>
</p>

<p>
  <strong>Lab stash house:</strong>
  <%= @siezure_report.lab_stash_house %>
</p>

<p>
  <strong>Poc:</strong>
  <%= @siezure_report.poc %>
</p>

<p>
  <strong>Pocphone:</strong>
  <%= @siezure_report.pocphone %>
</p>

<%= link_to 'Edit', edit_siezure_report_path(@siezure_report) %> |
<%= link_to 'Back', siezure_reports_path %>
