<!DOCTYPE html>
<html>
<head>
	<title>HNM HIDTA</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => false %>
	<%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
<header>
	<div id="hwrap">
		<%= image_tag 'logo.png', id: 'logo', width: '100px', height: '100px' %>
		<h1>HIDTA New Mexico</h1>
		<span><%= link_to 'Logout', '/users/sign_out', :method => :delete %></span>
	</div>
</header>

<div id="content">
	<nav>
		<a href="/siezure_reports">
			<div class="nav-item"><%= image_tag 'report.png', width: '75px', height: '50px' %> REPORTS</div>
		</a>
		<a href="/subjects">
			<div class="nav-item"><%= image_tag 'person.png', width: '75px', height: '50px' %> SUBJECTS</div>
		</a>
		<a href="/vehicles">
			<div class="nav-item"><%= image_tag 'car.png', width: '75px', height: '50px' %> VEHICLES</div>
		</a>
	</nav>

	<div id="page">
		<%= yield %>
	</div>
</div>

<% else %>
	<%= yield %>
<% end %>

</body>
</html>
